
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


:root {
  --mm-purple: #4f46e5;      
  --mm-blue: #2563eb;         
  --mm-pink: #d946ef;         
  --mm-dark-bg: #111827;      
  --mm-light-bg: #1f2937;     
  --mm-text-primary: #f9fafb;
  --mm-text-secondary: #9ca3af;
  --mm-border: #374151;      
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; 
  background-color: var(--mm-dark-bg);
  color: var(--mm-text-primary);
}
